---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
// import maveran_garden_IMG from "../../images/maveran_garden.png";
// import react_hooks_IMG from "../../images/react-hooks.png";
// import go2img_IMG from "../../images/go2img.png";

type Project = {
  title: string;
  description: string;
  link: string;
  cover?: string;
  tags?: string[];
  thumbnail: ImageMetadata;
};

type Props = {
  project: Project;
};

const { project } = Astro.props;
---

<div class="flex flex-col gap-4">
  {
    project.cover && (
      <a href={project.link} target="_self">
        <Image
          src={project.thumbnail}
          alt="cover"
          class="w-full aspect-video rounded-lg self-auto object-cover"
          widths={[400, 800, 1200]}
          sizes="(max-width: 600px) 400px, (max-width: 1200px) 800px, 1200px"
          width={1200}
          height={675}
        />
      </a>
    )
  }
  <div class="flex flex-col gap-2">
    <div class="flex gap-2">
      {
        project.tags?.map((tag) => (
          <span class="bg-gray-200 text-gray-700 text-xs font-medium px-2 py-1 rounded">{tag}</span>
        ))
      }
    </div>
    <a href={project.link} target="_self">
      <h1 class="text-3xl font-title font-black">{project.title}</h1>
    </a>
    <a href={project.link} target="_self">
      <p class="text-sm text-zinc-700">{project.description}</p>
    </a>
  </div>
</div>
